@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(16, 35, 71, 1);
    background-color: rgba(24, 24, 24, 1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
}

.wrapper > img {
    width: 235px;
    height: 106.07px;
    top: 28px;
    left: 43px;
    position: absolute;
}

.wrapper > .container-titulo {
    position: absolute;
    width: 86px;
    height: 27.5px;
    left: 115px;
    top: 148.8px;
    align-items: center;
    text-align: center;
}

h1 {
    align-items: center;
    color: rgba(255, 255, 255, 1);
    display: flex;
    text-align: center;
    font-style: normal;
    line-height: 28px;
    
}

p {
    width: 207px;
    height: 15.71px;
    left: 54px;
    top: 176.3px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    font-style: normal;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 1.5rem;
}


